@media only screen and (max-width:1100px) {
    .background-image {
        background-image: url('/images/weather-background-mobile.jpg');
        filter: blur(4px);
    }
    .head-weather-app {
        margin-top: 200px;
    }
    .max-min-temp {
        margin-top: 100px;
        width: 60%;
        flex-direction: column;
    }
    .current-weather {
        margin: 100px auto;
        margin-bottom: 0;
        padding: 15px;
    }
    .current-weather-data {
        color: white;
    }
    .search-bar {
        width: 75%;
    }
}