.background-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    background-image: url('/images/weather-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.head-weather-app {
    color: whitesmoke;
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0em;
    /* margin: 0; */
}

.app-body-container {
    margin: 50px auto;
    text-align: center;
}

.app-input-city {
    color: rgb(245, 238, 238);
    background: transparent;
    width: 100%;
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
    margin: 10px;
    border-width: 0 0;
}

.app-input-city::placeholder {
    color: rgba(235, 235, 235, 0.966);
}

.app-input-city:focus {
    border-color: blue;
    outline: none;
}

.app-input-submit {
    display: flex;
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 5px;
    letter-spacing: 0.02857em;
    cursor: pointer;
    transition: background-color 200ms;
    transition-timing-function: ease-in-out;
}

.app-input-submit:focus {
    border: 1px solid transparent;
}

.max-min-temp {
    display: none;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    margin: 30px auto;
    border-radius: 10px;
    max-width: 800px;
}

.temp-container {
    width: 300px;
    height: 250px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
}

.temprature-heading {
    font-size: 30px;
    font-weight: 300;
    color: rgb(4, 23, 29);
}

.temprature {
    font-size: 70px;
    font-weight: 500;
    color: #000d66fa;
    margin-top: 20px;
}

.search-bar {
    width: 42%;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0px 3px 1px -2px rgba(255, 254, 254, 0.2), 0px 2px 2px 0px rgba(253, 251, 251, 0.14), 0px 1px 5px 0px rgba(255, 250, 250, 0.12); */
}

.search-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    line-height: 60px!important;
}

.search-icon:focus {
    filter: hue-rotate(180deg);
}